####
# @author Mike Carey <michael.r.carey@att.net>
##

# Keep these blank files for empty directories
!**/.gitkeep

# Backup, temp, and log files
*.bak
*.tmp
*.log

# This will store data and temporary files
storage/
.env

# ---------------------------------------------------------- #
#  User Configuration Files
#    These files are placed by Operating Systems and
#    software to keep track of user configurations.
# ---------------------------------------------------------- #

#-------------------
# IDE Files
#-------------------

# Netbeans directory
nbproject/

# IDEA directory
.idea/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

#-------------------
# OS files
#-------------------

# MacOS
.DS_Store
._*

# Linux
*.swp

# Windows
$Recycle.Bin
Thumbs.db

#-------------------
# Virtualization
#-------------------
.vagrant/


# ---------------------------------------------------------- #
#  Framework Files
#    These files are used by the framework.  We do not need
#    to use Source Control on these types of files.
# ---------------------------------------------------------- #

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/


# ---------------------------------------------------------- #
#  Project Specific Files
#    These files are specific to the project.
# ---------------------------------------------------------- #



# end .gitignore